h1{
	font-family:ostrichsans;
	font-style:italic;
	font-variant: small-caps;
	text-align:left;
	float:left;
	color:white;
	text-shadow:1px 1px #feda3f;
	letter-spacing:1px;
	
}

header{
	background:black;
	height:60px;
	width:100%;
	position:relative;
	border:1px dotted grey;
	margin-left:0px;
	margin-top:0px;
	/*box-shadow: 2px 2px grey;*/
	text-shadow:1px 1px grey;
}
header ul li{
	font-family:ostrichsans;
	font-style:italic;
	font-variant: small-caps;
	display:inline;
	font-size:25px;
	border:2px solid white;
	color:white;
	padding:10px;
	margin:3px;
	
}
body{
	padding:0px;
	margin:0px;
}
a:link {
	color:white;
  text-decoration: none;
}
a:visited {
	color:white;
  text-decoration: none;
}
a:hover{
	opacity:0.8;
}
#home1{
	background-color:black;
	width:100%;
	height:700px;
}

#pes{
	width:200px;
	height:200px;
	padding:30px;
	margin:10px;
	border:1px white dotted;
	float:right;


}
#pes li
{
	color:#f2f3f7;
}